.upload-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto;
    text-align: center;
}

.upload-container h2 {
    font-family: var(--font-asap);
    color: rgba(244, 91, 105, 1);
    margin-bottom: 20px;
}

.upload-container input[type="text"],
.upload-container input[type="file"] {
    font-family: var(--font-asap);
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0;
    transition: border-color 0.3s;
}

.upload-container input[type="text"]:focus,
.upload-container input[type="file"]:focus {
    border-color: var(--green-seaweed);
    outline: none;
}

.upload-container button {
    font-family: var(--font-asap);
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 5px;
    background-color: var(--red-fire);
    transition: background-color 300ms;
}

.upload-container button:hover {
    background-color: #cf3e46;
}
